#majorWorks {
  hr {
    height: 2px;
    background:#3c1053;
    border: none;
  }
  .wmnds-content-tile {
    background-color: #fff;
  }
  .results {
    .wmnds-content-tile{
      margin-bottom: 20px;
    &:nth-child(odd) {
      margin-right: 20px;
    }
    .wmnds-content-tile__copy {
      @media screen and (max-width: 767px) {
        img {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  }
  .copy {
    .wmnds-content-tile{
      margin-bottom: 20px;
    }
    .wmnds-msg-help {
      span {font-weight: bold;}
    }
  }
  .sidebar {
    .wmnds-msg-help {
      span {font-weight: bold;}
    }
    .wmnds-content-tile {
      margin: 0 0 20px 0;
    }
    .wmnds-disruption-indicator-large {
      margin: 0 0 10px 0;
    }
  }
}
