<div class="wmnds-content-tile wmnds-content-tile--nav">
    <h3>Related content</h3>
    <span class="wmnds-content-tile__legend">
      Overview
    </span>
    <ul class="wmnds-content-tile__list">
      <li class="wmnds-content-tile__list-item">
        <a href="#" title="link title" target="_self" class="wmnds-link">
          Information for drivers
        </a>
      </li>
      <li class="wmnds-content-tile__list-item">
        <a href="#" title="link title" target="_self" class="wmnds-link">
          Information for bus passengers
        </a>
      </li>
      <li class="wmnds-content-tile__list-item">
        <a href="#" title="link title" target="_self" class="wmnds-link">
          Information for tram passengers
        </a>
      </li>
      <li class="wmnds-content-tile__list-item">
        <a href="#" title="link title" target="_self" class="wmnds-link">
          Information for pedestrians
        </a>
      </li>
      <li class="wmnds-content-tile__list-item">
        <a href="#" title="link title" target="_self" class="wmnds-link">
          Getting to venues and attractions
        </a>
      </li>
    </ul>
</div>