{% extends "layout.njk" %}

{% block title -%}
  Home
{%- endblock %}
{% block content %}
{% include "partials/breadcrumb.njk" %}
<main class="wmnds-container wmnds-container--main">
  <div class="wmnds-grid">
    <div class="wmnds-col-1 wmnds-col-md-2-3">
      <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-md-2-3">
          <h1>Changes to Five Ways and Broad Street</h1>
        </div>
      </div>
      <h2>Information for drivers</h2>
      <p>Last updated: 5 November 2019</p>
    </div>
    <div class="wmnds-col-1 wmnds-col-md-1-3">
      <img src="../img/metro-disruption.png" />
    </div>
  </div>
  <div class="wmnds-grid">
    <div class="wmnds-col-1 wmnds-col-md-2-3 wmnds-p-r-lg copy">
      <div class="wmnds-content-tile">
        <h2 class="wmnds-content-tile__title">What’s happening?</h2>
        <div class="wmnds-content-tile__copy">
          <p>Temporary changes to roads and road junctions have been introduced on Hagley Road and the Five Ways area, to help keep traffic moving during construction of
            the West Midlands Metro extension. Roads and public transport will be busier than normal so you’ll still need to plan ahead and leave more time for your journey,
            however, the temporary changes will help keep traffic moving and give bus passengers priority.</p>
          <p>Temporary changes to roads and road junctions have been introduced on Hagley Road and the Five Ways area, to help keep traffic moving during construction of
            the West Midlands Metro extension. Roads and public transport will be busier than normal so you’ll still need to plan ahead and leave more time for your journey,
            however, the temporary changes will help keep traffic moving and give bus passengers priority.</p>
        </div>
      </div>
      <div class="wmnds-content-tile">
        <div class="wmnds-content-tile__copy">
          <div class="wmnds-grid">
            <div class="wmnds-col-1 wmnds-col-md-2-3">
            <h2 class="wmnds-content-tile__title">Get around disruption</h2>
              <p><a href="#">Waze</a> will help you to drive around disruption and congestion, getting you to your destination in the fastest time with live traffic information.</p>
            </div>
            <div class="wmnds-col-1 wmnds-col-md-1-3">
              <img src="../img/waze.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="wmnds-content-tile">
        <h2 class="wmnds-content-tile__title">Driving from Bearwood</h2>
        <div class="wmnds-content-tile__copy">
          <p>Consider using City Road and Dudley Road, past City Hospital to head into Birmingham city centre or connect with the ring road.</p>
        </div>
        <img src="//placehold.it/600x400" alt="map of west midlands" class="wmnds-content-tiles__img">
      </div>
      <div class="wmnds-content-tile">
        <h2 class="wmnds-content-tile__title">Driving from Oldbury, Langley or Londonderry</h2>
        <div class="wmnds-content-tile__copy">
          <p>Head towards Smethwick and take the A457, continue towards Birmingham via the Dudley Road past City Hospital.</p>
        </div>
        <img src="//placehold.it/600x400" alt="map of west midlands" class="wmnds-content-tiles__img">
      </div>
      <div class="wmnds-content-tile">
        <h2 class="wmnds-content-tile__title">Travel tips</h2>
        <div class="wmnds-content-tile__copy">
          <p>You will still be able to get to where you need to go, but consider the following:</p>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>Plan ahead and leave more time for your journey:</span> If you travel in the Five Ways area you’ll need more time for your journey to take account of the closure of Five Ways underpass and changes along Broad Street.
          </div>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>Use public transport wherever possible:</span> This is to reduce congestion on key roads in and out of the city centre.
          </div>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>Travel off-peak:</span> Roads will be quieter if you are able to travel off-peak. The busiest time to travel during weekdays is usually before 09:30 and after 15:30.
          </div>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>Consider car sharing:</span> In recent months the number of people car-sharing along Hagley Road has increased by almost 10%. Have you considered joining them? Sharing your journey with friends, family or colleagues to reduce the amount of cars on the road.
          </div>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>Think about your options:</span> There will be <span class="wmnds-content-tile__underline"> changes to bus stops and routes</span> travelling in and out of Birmingham city centre and along Broad Street.
          </div>
        </div>
        <div class="wmnds-msg-help wmnds-content-tile--purple">
          <div class="wmnds-msg-help">
            <span>If you work, speak to your employer</span> about whether there is any flexibility in your hours or if there are any times when you could avoid travelling altogether, such as working from home.
          </div>
        </div>
      </div>
    </div>
    <div class="wmnds-col-1 wmnds-col-md-1-3 sidebar">
      <div class="wmnds-content-tile">
        <h2 class="wmnds-content-tile__titles">Page contents</h2>
        <div class="wmnds-content-tile__overview">
          <p>Overview</p>
        </div>
        <ul class="wmnds-content-tile__list">
          <li class="wmnds-content-tile__list-links"><a href="#">Information for drivers</a></li>
          <li class="wmnds-content-tile__list-links"><a href="#">Information for bus passengers</a></li>
          <li class="wmnds-content-tile__list-links"><a href="#">Information for tram passengers</a></li>
          <li class="wmnds-content-tile__list-links"><a href="#">Information for pedestrians</a></li>
          <li class="wmnds-content-tile__list-links"><a href="#">Getting to venues and attractions</a></li>
        </ul>
      </div>
      <div class="wmnds-content-tile wmnds-content-tile-container">
        <h2 class="wmnds-content-tile__title">Travel updates</h2>
        <div class="wmnds-content-tile__copy">
          <p>All routes through this disruption.</p>
        </div>
        <h3>Roads</h3>
          <div class="wmnds-disruption-indicator-large wmnds-disruption-indicator-large--undefined"><div class="wmnds-disruption-indicator-large__left-wrapper"><span class="wmnds-disruption-indicator-large__left-icon-wrapper"><svg class="wmnds-disruption-indicator-large__icon"><use xlink:href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-modes-isolated-roads" href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-modes-isolated-roads"></use></svg><br></span><span class="wmnds-disruption-indicator-large__text"><strong>Hagley Road</strong><br>Usual traffic</span></div><svg class="wmnds-disruption-indicator-large__icon wmnds-disruption-indicator-large__icon--right"><use xlink:href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-general-success" href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-general-success"></use></svg></div>
          <div class="wmnds-disruption-indicator-large wmnds-disruption-indicator-large--undefined"><div class="wmnds-disruption-indicator-large__left-wrapper"><span class="wmnds-disruption-indicator-large__left-icon-wrapper"><svg class="wmnds-disruption-indicator-large__icon"><use xlink:href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-modes-isolated-roads" href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-modes-isolated-roads"></use></svg><br></span><span class="wmnds-disruption-indicator-large__text"><strong>Hagley Road</strong><br>Usual traffic</span></div><svg class="wmnds-disruption-indicator-large__icon wmnds-disruption-indicator-large__icon--right"><use xlink:href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-general-success" href="https://cloudcdn.wmca.org.uk/staging/wmnassets/img/wmnds-sprite.min.svg#wmnds-general-success"></use></svg></div>
      </div>
    </div>
</main>
{% endblock %}