<div class="wmnds-container">
  <nav aria-label="Breadcrumb" class="wmnds-breadcrumb">
    <ol class="wmnds-breadcrumb__list">
      <li class="wmnds-breadcrumb__list-item">
        <a href="/" class="wmnds-breadcrumb__link">
          Home
        </a>
      </li>
      <li class="wmnds-breadcrumb__list-item">
        <a href="/components/" class="wmnds-breadcrumb__link">
          Components
        </a>
      </li>
      <li class="wmnds-breadcrumb__list-item">
        <a href="/components/breadcrumb/" class="wmnds-breadcrumb__link wmnds-breadcrumb__link--current" aria-current="page">
          Breadcrumb
        </a>
      </li>
    </ol>
  </nav>
</div>