<footer class="wmnds-footer wmnds-footer--mobile-app">
  <div class="wmnds-container">
    <div class="wmnds-col-1 wmnds-col-md-1-2">
      Copyright West Midlands Network &copy; 2020
    </div>
    <div class="wmnds-col-1 wmnds-col-md-1-2">

    </div>
  </div>
</footer>