<header class="wmnds-header">
  <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
    <!-- Logo -->
    <div class="wmnds-header__vertical-align wmnds-col-auto">
      <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
        <img class="wmnds-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
      </a>
      <a href="/" target="_self" class="wmnds-phase-indicator" title="Beta homepage of West Midlands Network Design System">
        Beta
      </a>
    </div>
    <!-- Nav items -->
    {% include "partials/navigation.njk" %}
  </div>
</header>