<nav class="wmnds-header__vertical-align wmnds-col-auto">
      <ul class="wmnds-header__links wmnds-header__main-links">
         <li class="wmnds-header__link">
      <a href="#" title="SPlan a journey" target="_self" class="wmnds-link" >
        Plan a journey
      </a>
    </li>
    <li class="wmnds-header__link">
      <a href="#" title="Tickets" target="_self" class="wmnds-link" >
        Tickets
      </a>
    </li>
    <li class="wmnds-header__link">
      <a href="#" title="Help" target="_self" class="wmnds-link" >
        Help
      </a>
    </li>
      </ul>
    </nav>