<div class="wmnds-content-tile">
    <h2 class="wmnds-content-tile__title">What’s happening?</h2>
    <div class="wmnds-content-tile__copy">
        <p>Temporary changes to roads and road junctions have been introduced on Hagley Road and the Five Ways area, to help keep traffic moving during construction of
                        the West Midlands Metro extension. Roads and public transport will be busier than normal so you’ll still need to plan ahead and leave more time for your journey,
                        however, the temporary changes will help keep traffic moving and give bus passengers priority.</p>
        <p>Temporary changes to roads and road junctions have been introduced on Hagley Road and the Five Ways area, to help keep traffic moving during construction of
                        the West Midlands Metro extension. Roads and public transport will be busier than normal so you’ll still need to plan ahead and leave more time for your journey,
                        however, the temporary changes will help keep traffic moving and give bus passengers priority.</p>
    </div>
</div>