<div class="wmnds-col-1">
    <div class="wmnds-content-tile">
        <h2>Major Roadworks and events</h2>
        <div class="wmnds-content-tile__copy">
            <p>Consider using City Road and Dudley Road, past City Hospital to head into Birmingham city centre or connect with the ring road.</p>
            <iframe width="100%" height="500" src="https://tfwm.maps.arcgis.com/apps/MapJournal/index.html?appid=6e52e000bc5d4955b91e9fc48fc920b3&amp;autoplay" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>