<!DOCTYPE html>
<html lang="en-gb" class="wmnds-html">
  {% include "partials/template/head.njk" %}
  <body id="majorWorks" class="wmnds-content-tile--yellow">
    {% include "partials/header.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    <script src="js/wmn-major-works.js"></script>
  </body>
</html>